.authform
  %h3
    Edytuj #{resource_name.to_s.humanize}
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    %fieldset
      %p Leave these fields blank if you don't want to change your password.
      .form-group
        = f.label :password
        = f.password_field :password, :autocomplete => 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
    %fieldset
      %p Musisz wpisać aktualne hasło aby potwierdzić.
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control'
    = f.submit 'Aktualizuj', :class => 'button right'
.authform
  %h3 Anuluj konto
  %p Jesteś niezadowolony? Smutno nam, że odchodzisz.
  = button_to "Anuluj moje konto", registration_path(resource_name), :data => { :confirm => "Jesteś pewien?" }, :method => :delete, :class => 'button right'
