.authform
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3 Rejestracja
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :nick
      = f.text_field :nick, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    = f.submit 'Utwórz konto', :class => 'button right'
