%h2 Obecnie posiadamy w sprzedaży

%h6= "Liczba urządzeń w ofercie: #{@hardwares_forsale.count}"
%br
%br
.wrapper
	- @hardwares_forsale.each do |hardware|
		.product-item
			%img.photo{:src => "http://placehold.it/300x250?text=Foto PBKOMP", :alt => "Foto niedostępne"}/
			.describe-item
				.name-item= link_to hardware.model, hardware_item_path(hardware.id)
				%br
				%p= "Procesor #{hardware.processor}"
				%p= "Pamięć #{hardware.ram}"
				%p= "Dysk #{hardware.disk}"
				%p= "Grafika #{hardware.video_card}"
				%p.prize= number_to_currency(hardware.price, locale: :pl, :unit => 'zł ', format: "%n %u", :delimiter => " ")
