%h2 Obecnie posiadamy w sprzedaży

%h6= "Liczba urządzeń w ofercie: #{@hardwares_forsale.count}"
%br
%br
.wrapper
	- @hardwares_forsale.each do |hardware|
		.product-item
			.row
				.col-md-12
					-hardware.images.limit(1).each do |img|
						= cl_image_tag img.image_url(:hardwares_image), :style => "margin: 0.5rem; border: 1px solid; box-shadow: 5px 5px 4px grey;"
			.describe-item
				.name-item= link_to hardware.name + " " + hardware.model, hardware_item_path(hardware.id)
				%br
				%p= "Procesor #{hardware.processor}"
				%p= "Pamięć #{hardware.ram}"
				%p= "Dysk #{hardware.disk}"
				%p= "Grafika #{hardware.video_card}"
				%p.prize= number_to_currency(hardware.price, locale: :pl, :unit => 'zł ', format: "%n %u", :delimiter => " ")
