= form_for @hardware do |f|
  - if @hardware.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hardware.errors.count, "błędy")} uniemożliwiły dodanie urządzenia do bazy:"
      %ul
        - @hardware.errors.full_messages.each do |message|
          %li= message

  .form-group
    .field
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .field
      = f.label :model
      = f.text_field :model, class: 'form-control'
    .field
      = f.label :sn
      = f.text_field :sn, class: 'form-control'
    .field
      = f.label :describe
      = f.text_area :describe, class: 'form-control'
    .actions
      = f.submit 'Zapisz', class: 'btn btn-success btn-lg'
