= form_for @hardware do |f|
  - if @hardware.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hardware.errors.count, "błędy")} uniemożliwiły dodanie urządzenia do bazy:"
      %ul
        - @hardware.errors.full_messages.each do |message|
          %li= message

  .form-group
    .field
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .field
      = f.label :model
      = f.text_field :model, class: 'form-control'
    .field
      = f.label :sn
      = f.text_field :sn, class: 'form-control'
    .field
      = f.label :foreign_code
      = f.text_field :foreign_code, class: 'form-control'
    .field
      = f.label :own_code
      = f.text_field :own_code, class: 'form-control'
    .field
      = f.label :buy_brutto
      = f.text_field :buy_brutto, class: 'form-control'
    .field
      = f.label :buyed
      = f.text_field :buyed, class: 'form-control'
    .field
      = f.label :processor
      = f.text_field :processor, class: 'form-control'
    .field
      = f.label :ram
      = f.text_field :ram, class: 'form-control'
    .field
      = f.label :disk
      = f.text_field :disk, class: 'form-control'
    .field
      = f.label :screen
      = f.text_field :screen, class: 'form-control'
    .field
      = f.label :dvd
      = f.text_field :dvd, class: 'form-control'
    .field
      = f.label :video_card
      = f.text_field :video_card, class: 'form-control'
    .field
      = f.label :battery
      = f.text_field :battery, class: 'form-control'
    .field
      = f.label :operating_system
      = f.text_field :operating_system, class: 'form-control'
    .field
      = f.label :warranty
      = f.text_field :warranty, class: 'form-control'
    .field
      = f.label :describe
      = f.text_area :describe, class: 'form-control'
    .actions
      = f.submit 'Dodaj urządzenie', class: 'btn btn-success btn-lg'
