%h1 Lista urządzeń

%table.table.table-inverse.table-striped.table-hover.text-center
  %thead
    %tr
      %th Nazwa
      %th Model
      %th S/N
      %th Kod obcy
      %th Kod własny
      %th Sprzedany?
      %th Data dodania
      %th
      %th
      %th

  %tbody
    - @hardwares.each do |hardware|
      %tr
        %td= hardware.name
        %td= hardware.model
        %td= hardware.sn
        %td= hardware.foreign_code
        %td= hardware.own_code
        %td= hardware.buyed
        %td= hardware.created_at.strftime("%Y-%m-%d")
        %td= link_to 'Pokaż', hardware
        %td= link_to 'Edytuj', edit_hardware_path(hardware)
        %td= link_to 'Usuń', hardware, method: :delete, data: { confirm: 'Jesteś pewien?' }

%br

= link_to 'Dodaj nowe urządzenie', new_hardware_path
