%h1 Listing hardwares

%table
  %thead
    %tr
      %th Name
      %th Model
      %th Sn
      %th Describe
      %th
      %th
      %th

  %tbody
    - @hardwares.each do |hardware|
      %tr
        %td= hardware.name
        %td= hardware.model
        %td= hardware.sn
        %td= hardware.describe
        %td= link_to 'Show', hardware
        %td= link_to 'Edit', edit_hardware_path(hardware)
        %td= link_to 'Destroy', hardware, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Hardware', new_hardware_path
