%h1 Lista urządzeń
%p 
  Pobierz:
  = link_to "Plik Excel", hardwares_path(format: "xlsx"), class: 'btn btn-outline-info btn-xm action_color'
  |
  = link_to "Plik CSV", hardwares_path(format: "csv"), class: 'btn btn-outline-info btn-xm action_color'
  |
  = link_to "Plik PDF", hardwares_path(format: "pdf"), class: 'btn btn-outline-info btn-xm action_color'
= button_to 'Dodaj nowe urządzenie', new_hardware_path, method: :get, class: 'btn btn-success btn-lg add_hardware_button margin_bottom_15'
%table.table.table-inverse.table-striped.table-hover.text-center.table-responsive-lg
  %thead.thead-dark
    %tr
      %th Nazwa
      %th Model
      %th Kod obcy
      %th Kod własny
      %th Sprzedany?
      %th Dokument zakupu
      %th Data zakupu
      %th{:colspan => "3"} Co chcesz zrobić?

  %tbody
    - @hardwares.each do |hardware|
      %tr
        %td= hardware.name
        %td= hardware.model
        %td= hardware.foreign_code
        %td= hardware.own_code
        %td= hardware.sold
        %td= hardware.proof
        - if hardware.buy_date.nil?
          %td= hardware.buy_date
        - else 
          %td= hardware.buy_date.strftime("%Y-%m-%d")
        %td= button_to 'Pokaż', hardware, method: :get, class: 'btn btn-info btn-xm action_color'
        %td= button_to 'Edytuj', edit_hardware_path(hardware), method: :get, class: 'btn btn-warning btn-xm action_color'
        %td= button_to 'Usuń', hardware, method: :delete, data: { confirm: 'Jesteś pewien?' }, method: :delete, class: 'btn btn-danger btn-xm action_color'

%br

= button_to 'Dodaj nowe urządzenie', new_hardware_path, method: :get, class: 'btn btn-success btn-lg add_hardware_button'
