.card{:style => "width: 20rem;"}
  .card-body
    %p#notice= notice

    %p{:style => "margin-bottom: 35px"}
      %b.card-text{:style => "font-size: 1.625rem; text-decoration: underline; margin-bottom: 5px;"}
        = @hardware.name
    %p
      %span{:style => "font-size: 1.25rem"} Model:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.model
    %p
      %span{:style => "font-size: 1.25rem"} S/N:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.sn
    %p
      %span{:style => "font-size: 1.25rem"} Opis:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.describe

    = link_to 'Edytuj', edit_hardware_path(@hardware), class: 'btn btn-info'
    = link_to 'Powrót', hardwares_path, class: 'btn btn-outline-warning'
