.card
  .card-body
    %p#notice= notice

    %p
      %b.card-text{:style => "font-size: 1.625rem; text-decoration: underline;"}
        = @hardware.name
      .row
        .col-md-12
          %h7.col-md-3 Dodany:
          %h7.card-text.col-md-9
            = @hardware.created_at.strftime("%Y-%m-%d")
    .row{:style => "background-color: #cccccc; padding: 20px 10px;"}
      .col-md-6
        .row
          %h4.col-md-12{:style => "margin-bottom: 0.7rem; margin: 12px 10px; color: #4a79b1;"} Informacje:
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Model:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.model
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} S/N:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.sn
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Kod obcy:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.foreign_code
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Kod własny:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.own_code
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Cena zakupu brutto:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = number_to_currency(@hardware.buy_brutto, locale: :pl, :unit => 'zł ', format: "%n %u", :delimiter => " ")
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Dokument zakupu:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.proof
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Data zakupu:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            - if @hardware.buy_date.nil?
              = @hardware.buy_date
            - else 
              = @hardware.buy_date.strftime("%Y-%m-%d")
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Sprzedany?:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.sold
      .col-md-6
        .row
          %h4.col-md-12.center{:style => "margin-bottom: 0.7rem; margin: 12px 10px; color: #4a79b1"} Parametry:
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Procesor:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.processor
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Pamięć RAM:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.ram
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Dysk HDD/SSD:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.disk
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Matryca:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.screen
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Napęd DVD:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.dvd
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Karta graficzna:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.video_card
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Bateria:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.battery
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} System:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.operating_system
        .row
          %span.col-md-5{:style => "font-size: 1.25rem; margin-bottom: 0.7rem"} Gwarancja:
          %b.card-text.col-md-7{:style => "font-size: 1rem"}
            = @hardware.warranty
    %p{:style => "font-size: 1.25rem; margin-top: 35px"} Dodatkowe informacje:
    %p{:style => "border: 2px #676767 solid; box-shadow: 5px 5px 7px #898989; padding: 12px; margin-bottom: 35px"}
      %span{:style => "font-size: 1.25rem"}
      %span.card-text{:style => "font-size: 1rem"}
        = @hardware.describe

    = link_to 'Edytuj', edit_hardware_path(@hardware), class: 'btn btn-info action_color'
    = link_to 'Powrót', hardwares_path, class: 'btn btn-outline-warning action_color'
