.card{:style => "width: 45rem;"}
  .card-body
    %p#notice= notice

    %p{:style => "margin-bottom: 35px"}
      %b.card-text{:style => "font-size: 1.625rem; text-decoration: underline; margin-bottom: 5px;"}
        = @hardware.name
    %p
      %span{:style => "font-size: 1.25rem"} Model:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.model
    %p
      %span{:style => "font-size: 1.25rem"} S/N:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.sn
    %p
      %span{:style => "font-size: 1.25rem"} Kod obcy:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.foreign_code
    %p
      %span{:style => "font-size: 1.25rem"} Kod własny:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.own_code
    %p
      %span{:style => "font-size: 1.25rem"} Dodano:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.created_at.strftime("%Y-%m-%d")
    %p
      %span{:style => "font-size: 1.25rem"} Cena zakupu brutto:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.buy_brutto
    %p
      %span{:style => "font-size: 1.25rem"} Sprzedany?:
      %b.card-text{:style => "font-size: 1rem"}
        = @hardware.buyed
    %p{:style => "font-size: 1.25rem; margin-top: 35px"} Informacje:
    %p{:style => "border: 2px #676767 solid; box-shadow: 5px 5px 7px #898989; padding: 12px; margin-bottom: 35px"}
      %span{:style => "font-size: 1.25rem"}
      %span.card-text{:style => "font-size: 1rem"}
        = @hardware.describe

    = link_to 'Edytuj', edit_hardware_path(@hardware), class: 'btn btn-info'
    = link_to 'Powrót', hardwares_path, class: 'btn btn-outline-warning'
