!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Pbkomp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Pbkomp'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    %header
      .container
        .row
          .col-md-12
            = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        .row
          .col-md-12
            = render 'layouts/messages'
            = yield
